*{
    margin: 0;
    padding: 0;
}
body {
    background: #F5DEE4;
    text-align: left;
}

img {
  width: 200%;
  align-items: flex-start;
}

body-type {
  margin: 0;
  font-family: "Bicyclette-Light";
  font-size: 21px ;
}

h1 {
 font-family: "Gilbert"
}
 h1 {font-size: 64px;}

h2 {
    font-family: "Compagnon"; 
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;  
    position: absolute;
    width: 995.05px;
    height: 96.86px;
    left: 142.48px;
    top: 204.8px;

}

h3 {
    position: absolute;
    width: 888px;
    height: 82.28px;
    left: 196px;
    top: 909.18px;
    font-family: 'Compagnon';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 48px;
}

h4{
    position: absolute;
    width: 551.63px;
    height: 82.28px;
    left: 747.63px;
    top: 883.32px;

    font-family: 'Compagnon';
    font-style: italic;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
}
h5 {
    font-family: "Compagnon"; 
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;  
    position: absolute;
    width: 995.05px;
    height: 96.86px;
    left: 142.48px;
    top: 204.8px;
   
}

h6{
    position: absolute;
    width: 1168.55px;
    height: 122.48px;
    left: 57.11px;
    top: 404.77px;

    font-family: 'Compagnon';
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
}

p {
    position: absolute;
    width: 1020.97px;
    height: 1325.67px;
    left: 129.52px;
    top: 609.67px;

    font-family: 'Bicyclette';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 127.1%;
}

 /* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #B8C26C;
    display: flex;
    justify-content: space-around;
  }

  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: rgb(33, 86, 90);
    text-align: center;
    padding: 40px;
    text-decoration: none;
    font-family: "Bicyclette-Light";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;

  }
