*{
    margin: 0;
    padding: 0;
}
body {
    background: #F5DEE4;
    text-align: left;
}

img {
  width: 200%;
  align-items: flex-start;
}

body-type {
  margin: 0;
  font-family: "Bicyclette"
  font-size: 21px ;
}

h1, h2 {
 font-family: "Gilbert"
}
 h1 {font-size: 64px;}


.button {
  font: size 48px;
  font-weight: 700;
}

/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #B8C26C;
    display: flex;
    justify-content: space-around;
  }

  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: rgb(33, 86, 90);
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-family: "Bicyclette-Light";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;

  }

  /* Page content */
  .content {
    padding: 16px;
  }

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .homepage main {
    display:flex;
    width: 90%;
    margin: auto;

  }
